@font-face {
    font-family: 'Rob';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400
}
@font-face {
    font-family: 'Rob';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500
}
@font-face {
    font-family: 'Rob';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700
}

body {
    font-family: 'Rob';
}

.page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    .error {
        text-align: center
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.loading-screen {
    background-color: #1EC9B4;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 75px;
    background-color: #1EC9B4;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px 0 32px;
    color: #fff;
    @media (max-width: 480px) {
        height: 100px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header-brand {
        font-weight: bold;
        font-size: 18px;
    }
    .header-store-wrapper {
        display: flex;
        align-items: center;
        .header-store-name {
            margin-left: 16px;
            font-weight: bold;
            font-size: 16px;
        }
    }
}

.container {
    display: flex;
    height: 100%
}

nav {
    min-height: calc(100vh - 75px);
    width: 20%;
    background-color: #EBFFFD;
    ul {
        list-style-type: none;
        margin: 0;
        padding-top: 32px;
        li {
            font-size: 20px;
            margin: 16px 0;
            cursor: pointer;
            .active {
                color: #0CAC99;
                font-weight: bold;
            }
        }
    }
}

main {
    display: inline;
}

.license-main {
    width: 100%;
    min-height: calc(100vh - 75px);
    background: url('../images/license-bg.png');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .license-box {
        min-height: 40vh;
        width: 50%;
        min-width: 480px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px 36px;
        background-color: #fff;
        @media (max-width: 792px) {
            min-width: 350px;
        }
        .license-form {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            .license-input {
                border: 1px solid rgba(0,0,0,0.25);
                border-radius: 4px;
                padding: 12px;
                width: 100%;
                margin: 16px 0;
            }
            .license-box-content p {
                margin-top: 12px;
            }
            .license-submit {
                align-self: flex-end;
                background-color: #1EC9B4;
                border: none;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                padding: 5px 12px;
                border-radius: 4px;
                box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
                cursor: pointer;
                margin-top: 8px;
            }
        }
    }
}